SUBSYSTEM=="misc", ACTION=="add", KERNEL=="vserialctl", GROUP="uucp", MODE="0660"
SUBSYSTEM=="tty", ACTION=="add", KERNEL=="ttySV[0-9]*", GROUP="uucp", MODE="0660"
