[Unit]
Description=Virtual serial port service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'modprobe vserial && udevadm trigger --subsystem-match=tty'
ExecStop=/usr/bin/modprobe -r vserial

[Install]
WantedBy=multi-user.target
